.end__wrapper {
    grid-area: view;
    position: absolute;
    height: 1080px;
    width: 1920px;
}

.end__text {
    margin: 30vw;
    font-size: 13vw;
}

.end_content__animation_in {
    margin: 30vw;
    font-size: 13vw;
    opacity: 0; 
    transform: translateY(5vw);
    animation: in__animation 1s 0s ease both;
}
@keyframes in__animation {
    to {opacity: 1; transform: translateY(0);}
}
.end_content__animation_out {
    margin: 30vw;
    font-size: 13vw;
    animation: out__animation 1s 0s ease both;
}
@keyframes out__animation {
    from {opacity: 1; transform: translateY(0);}
    to {opacity: 0; transform: translateY(-5vw);}
}