.overlay {
    opacity: 1;
}

.left_slice {
    position: absolute;
    height: 1500vh;
    width: 13.02vw;
    margin-top: -200vh;
    margin-left: 270vh;
    background-color: white;
    animation: left_slice__animation 1.5s ease 0s both;
}
@keyframes left_slice__animation{
    from { width: 0.52vw; transform: rotate(0deg) }
    to { width: 25vw; transform: rotate(-10deg) }
}

.event_title__wrapper {
    position: absolute;
    height: 7vw;
    width: 41.66vw;
    margin-top: 2.6vh;
    background-color: white;
    animation: event_title_wrapper__animation 1.5s ease 1.5s both;
}
@keyframes event_title_wrapper__animation{
    from { width: 0px; margin-left: 100vw }
    to { width: 41.66vw; margin-left: 65vw }
}

.event__title {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1vw;
    padding-top: 0vh;
    font-size: 4vw;
    color: black;
    opacity: 0; 
    transform: translateY(5vw);
    animation: title_animation 1s 1.5s ease both;
}
@keyframes title_animation {
    to {opacity: 1; transform: translateY(0);}
}