.main__wrapper {
    grid-area: view;
    position: absolute;
    height: 1080px;
    width: 1920px;
    display: grid;
    grid-template-rows: 20vh 400px auto;
    grid-template-columns: 20vh 1300px 600px 20vh;
    grid-template-areas: 
        ". . . ."
        ". topLeft topRight ."
        ". bottomLeft bottomRigth .";
}

.main_calling_code {
    grid-area: topRight;
    text-align: center;
    position: absolute;
    color: black;
    text-align: center;
    margin-top: 5vw;
    height: 400px;
    width: 400px;
    background-image: url("https://imgur.com/tY5YpSo.png");
    background-size: cover;
}

.main_content__animation_in {
    opacity: 0; 
    transform: translateY(5vw);
    animation: content__animation_in 1s 0s ease both;
}
@keyframes content__animation_in {
    to {opacity: 1; transform: translateY(0);}
}
.main_content__animation_out {
    opacity: 1;
    animation: content__animation_out 1s 0s ease both;
}
@keyframes content__animation_out {
    from {opacity: 1; transform: translateY(0);}
    to {opacity: 0; transform: translateY(-5vw);}
}

.main__headline {
    font-size: 13vw;
    position: relative;
}
.main__text {
    grid-area: topLeft;
    margin-top: 35vh;
    margin-left: 15vw;
    font-size: 10vw;
    position: relative;
}