.main__wrapper {
    grid-area: view;
    position: absolute;
    height: 200vh;
    width: 200vw;
}
.main_animated__wrapper {
    grid-area: view;
    position: absolute;
    height: 200vh;
    width: 200vw;
    background-color: rgb(56, 27, 27);
    transform: translateX(100vw);
    animation: wrapper__animation 1.5s 0s ease both;
}
@keyframes wrapper__animation {
    from {transform: translateX(100vw);}
    to {transform: translateX(0);}
}

.main_calling_code__wrapper {
    position: absolute;
    text-align: center;
    margin-left: 40vw;
    margin-top: 5vw;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    background-color: white;
}

.main__content {
    opacity: 0; 
    transform: translateY(5vw);
    animation: content__animation 2s 2s ease both;
}
@keyframes content__animation {
    to {opacity: 1; transform: translateY(0);}
}

.main__text {
    margin: 15vw;
    font-size: 8vw;
}