.content__card{
    padding: 20px ;
}
.text{
    /* text-align: center; */
}
.donationInput{
    width: 100px
}
.donationValues {
    margin: 0 auto;
    display: flex;
}
.btn {
    width: 200px;
    margin: 10px 7px;
    text-align: center;
}
.Betrag {
    margin: 0 5px;
}