.view__wrapper {
    width: 200vw;
    height: 200vh;
}

.video__background {
    grid-area: view;
    position: absolute;
    filter: blur(6px) brightness(0.49) saturate(2.02);
    size: 200%;
    height: 1080px;
    width: 1920px;
}