body {
    margin: 0;
    padding: 0;
}

.view__wrapper {
    width: 100vw;
}

.video__background {
    grid-area: view;
    position: absolute;
    filter: blur(0.5vw) brightness(0.3) saturate(2.02);
    width: 120vw;
    height: 120vh;
}